.example-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  max-width: 800px;
}

.example-header {
  display: flex;
  border-bottom: 1px solid #b3b3b3;
  background-color: #dcdcdc;
  border-radius: 8px 8px 0 0;
}

.header-code {
  flex: 0.7;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-right: 1px solid #b3b3b3;
  border-radius: 8px 0 0 0;
}

.header-result {
  flex: 1;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0 8px 0 0;
}

.example-body {
  display: flex;
  flex-direction: row;
}

.example-code {
  flex: 0.7;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 0 0 0 8px;
  overflow: auto;
  font-family: monospace;
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0;
}

.example-result {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #b3b3b3;
  padding: 1rem;
  font-size: 4em;
}

.title-example {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -1em;
}

.title-example span {
  font-weight: bold;
  font-size: 1.5rem;
}

.title-example code {
  font-size: 0.95rem;
}
